src/main/resources/accountService.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://FCUBSACService.types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://FCUBSACService.types.ws.gw.fcubs.ofss.com" name="FCUBSACService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://fcubs.ofss.com/service/FCUBSACService" schemaLocation="http://10.0.32.154:9991/FCUBSACService/FCUBSACService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="CreateMjrnlAuthFS">
        <part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns1:CREATEMJRNLAUTH_FSFS_REQ"/>
    </message>
    <message name="CreateMjrnlAuthFSResponse">
        <part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns2:CREATEMJRNLAUTH_FSFS_RES"/>
    </message>
    <message name="CreateMjrnlAuthIO">
        <part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns3:CREATEMJRNLAUTH_IOPK_REQ"/>
    </message>
    <message name="CreateMjrnlAuthIOResponse">
        <part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns4:CREATEMJRNLAUTH_IOPK_RES"/>
    </message>
    <message name="ModifyMjrnlAuthFS">
        <part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns5:MODIFYMJRNLAUTH_FSFS_REQ"/>
    </message>
    <message name="ModifyMjrnlAuthFSResponse">
        <part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns6:MODIFYMJRNLAUTH_FSFS_RES"/>
    </message>
    <message name="ModifyMjrnlAuthIO">
        <part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns7:MODIFYMJRNLAUTH_IOPK_REQ"/>
    </message>
    <message name="ModifyMjrnlAuthIOResponse">
        <part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns8:MODIFYMJRNLAUTH_IOPK_RES"/>
    </message>
    <message name="QueryAccTrnsIO">
        <part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns9:QUERYACCTRNS_IOFS_REQ"/>
    </message>
    <message name="QueryAccTrnsIOResponse">
        <part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns10:QUERYACCTRNS_IOFS_RES"/>
    </message>
    <message name="QueryAudittrailIO">
        <part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns11:QUERYAUDITTRAIL_IOFS_REQ"/>
    </message>
    <message name="QueryAudittrailIOResponse">
        <part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns12:QUERYAUDITTRAIL_IOFS_RES"/>
    </message>
    <message name="QueryCustAcTrnIO">
        <part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns13:QUERYCUSTACTRN_IOFS_REQ"/>
    </message>
    <message name="QueryCustAcTrnIOResponse">
        <part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns14:QUERYCUSTACTRN_IOFS_RES"/>
    </message>
    <message name="QueryCustomerStatIO">
        <part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns15:QUERYCUSTOMERSTAT_IOFS_REQ"/>
    </message>
    <message name="QueryCustomerStatIOResponse">
        <part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns16:QUERYCUSTOMERSTAT_IOFS_RES"/>
    </message>
    <message name="QueryIntBranchParamIO">
        <part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns17:QUERYINTBRANCHPARAM_IOFS_REQ"/>
    </message>
    <message name="QueryIntBranchParamIOResponse">
        <part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns18:QUERYINTBRANCHPARAM_IOFS_RES"/>
    </message>
    <message name="QueryMjrnlAuthIO">
        <part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSACService" name="RequestMsg" element="ns19:QUERYMJRNLAUTH_IOFS_REQ"/>
    </message>
    <message name="QueryMjrnlAuthIOResponse">
        <part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSACService" name="ResponseMsg" element="ns20:QUERYMJRNLAUTH_IOFS_RES"/>
    </message>
    <portType name="FCUBSACServiceSEI">
        <operation name="CreateMjrnlAuthFS">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/CreateMjrnlAuthFSRequest" message="tns:CreateMjrnlAuthFS"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/CreateMjrnlAuthFSResponse" message="tns:CreateMjrnlAuthFSResponse"/>
        </operation>
        <operation name="CreateMjrnlAuthIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/CreateMjrnlAuthIORequest" message="tns:CreateMjrnlAuthIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/CreateMjrnlAuthIOResponse" message="tns:CreateMjrnlAuthIOResponse"/>
        </operation>
        <operation name="ModifyMjrnlAuthFS">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/ModifyMjrnlAuthFSRequest" message="tns:ModifyMjrnlAuthFS"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/ModifyMjrnlAuthFSResponse" message="tns:ModifyMjrnlAuthFSResponse"/>
        </operation>
        <operation name="ModifyMjrnlAuthIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/ModifyMjrnlAuthIORequest" message="tns:ModifyMjrnlAuthIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/ModifyMjrnlAuthIOResponse" message="tns:ModifyMjrnlAuthIOResponse"/>
        </operation>
        <operation name="QueryAccTrnsIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryAccTrnsIORequest" message="tns:QueryAccTrnsIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryAccTrnsIOResponse" message="tns:QueryAccTrnsIOResponse"/>
        </operation>
        <operation name="QueryAudittrailIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryAudittrailIORequest" message="tns:QueryAudittrailIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryAudittrailIOResponse" message="tns:QueryAudittrailIOResponse"/>
        </operation>
        <operation name="QueryCustAcTrnIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryCustAcTrnIORequest" message="tns:QueryCustAcTrnIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryCustAcTrnIOResponse" message="tns:QueryCustAcTrnIOResponse"/>
        </operation>
        <operation name="QueryCustomerStatIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryCustomerStatIORequest" message="tns:QueryCustomerStatIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryCustomerStatIOResponse" message="tns:QueryCustomerStatIOResponse"/>
        </operation>
        <operation name="QueryIntBranchParamIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryIntBranchParamIORequest" message="tns:QueryIntBranchParamIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryIntBranchParamIOResponse" message="tns:QueryIntBranchParamIOResponse"/>
        </operation>
        <operation name="QueryMjrnlAuthIO">
            <input wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryMjrnlAuthIORequest" message="tns:QueryMjrnlAuthIO"/>
            <output wsam:Action="http://FCUBSACService.types.ws.gw.fcubs.ofss.com/FCUBSACServiceSEI/QueryMjrnlAuthIOResponse" message="tns:QueryMjrnlAuthIOResponse"/>
        </operation>
    </portType>
    <binding name="FCUBSACServiceSEIBinding" type="tns:FCUBSACServiceSEI">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="CreateMjrnlAuthFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateMjrnlAuthIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyMjrnlAuthFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyMjrnlAuthIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryAccTrnsIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryAudittrailIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryCustAcTrnIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryCustomerStatIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryIntBranchParamIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryMjrnlAuthIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FCUBSACService">
        <port name="FCUBSACServiceSEI" binding="tns:FCUBSACServiceSEIBinding">
            <soap:address location="http://10.0.32.154:9991/FCUBSACService/FCUBSACService"/>
        </port>
    </service>
</definitions>