src/main/resources/transaction.wsdl

       <!--  Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown.  -->
        <!--  Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-wls122140-b190328.0053 svn-revision#unknown.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com" name="FCUBSFTService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://fcubs.ofss.com/service/FCUBSFTService" schemaLocation="http://10.0.32.154:9991/FCUBSFTService/FCUBSFTService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="AuthorizeContractFS">
        <part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns1:AUTHORIZECONTRACT_FSFS_REQ"/>
    </message>
    <message name="AuthorizeContractFSResponse">
        <part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns2:AUTHORIZECONTRACT_FSFS_RES"/>
    </message>
    <message name="AuthorizeContractIO">
        <part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns3:AUTHORIZECONTRACT_IOPK_REQ"/>
    </message>
    <message name="AuthorizeContractIOResponse">
        <part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns4:AUTHORIZECONTRACT_IOPK_RES"/>
    </message>
    <message name="AuthorizeMT101FS">
        <part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns5:AUTHORIZEMT101_FSFS_REQ"/>
    </message>
    <message name="AuthorizeMT101FSResponse">
        <part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns6:AUTHORIZEMT101_FSFS_RES"/>
    </message>
    <message name="AuthorizeMT101IO">
        <part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns7:AUTHORIZEMT101_IOPK_REQ"/>
    </message>
    <message name="AuthorizeMT101IOResponse">
        <part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns8:AUTHORIZEMT101_IOPK_RES"/>
    </message>
    <message name="AuthorizeProductFS">
        <part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns9:AUTHORIZEPRODUCT_FSFS_REQ"/>
    </message>
    <message name="AuthorizeProductFSResponse">
        <part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns10:AUTHORIZEPRODUCT_FSFS_RES"/>
    </message>
    <message name="AuthorizeProductIO">
        <part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns11:AUTHORIZEPRODUCT_IOPK_REQ"/>
    </message>
    <message name="AuthorizeProductIOResponse">
        <part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns12:AUTHORIZEPRODUCT_IOPK_RES"/>
    </message>
    <message name="CloseContractFS">
        <part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns13:CLOSECONTRACT_FSFS_REQ"/>
    </message>
    <message name="CloseContractFSResponse">
        <part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns14:CLOSECONTRACT_FSFS_RES"/>
    </message>
    <message name="CloseContractIO">
        <part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns15:CLOSECONTRACT_IOPK_REQ"/>
    </message>
    <message name="CloseContractIOResponse">
        <part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns16:CLOSECONTRACT_IOPK_RES"/>
    </message>
    <message name="CloseProductFS">
        <part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns17:CLOSEPRODUCT_FSFS_REQ"/>
    </message>
    <message name="CloseProductFSResponse">
        <part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns18:CLOSEPRODUCT_FSFS_RES"/>
    </message>
    <message name="CloseProductIO">
        <part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns19:CLOSEPRODUCT_IOPK_REQ"/>
    </message>
    <message name="CloseProductIOResponse">
        <part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns20:CLOSEPRODUCT_IOPK_RES"/>
    </message>
    <message name="CreateContractFS">
        <part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns21:CREATECONTRACT_FSFS_REQ"/>
    </message>
    <message name="CreateContractFSResponse">
        <part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns22:CREATECONTRACT_FSFS_RES"/>
    </message>
    <message name="CreateContractIO">
        <part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns23:CREATECONTRACT_IOPK_REQ"/>
    </message>
    <message name="CreateContractIOResponse">
        <part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns24:CREATECONTRACT_IOPK_RES"/>
    </message>
    <message name="CreateMT101FS">
        <part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns25:CREATEMT101_FSFS_REQ"/>
    </message>
    <message name="CreateMT101FSResponse">
        <part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns26:CREATEMT101_FSFS_RES"/>
    </message>
    <message name="CreateMT101IO">
        <part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns27:CREATEMT101_IOPK_REQ"/>
    </message>
    <message name="CreateMT101IOResponse">
        <part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns28:CREATEMT101_IOPK_RES"/>
    </message>
    <message name="CreateProductFS">
        <part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns29:CREATEPRODUCT_FSFS_REQ"/>
    </message>
    <message name="CreateProductFSResponse">
        <part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns30:CREATEPRODUCT_FSFS_RES"/>
    </message>
    <message name="CreateProductIO">
        <part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns31:CREATEPRODUCT_IOPK_REQ"/>
    </message>
    <message name="CreateProductIOResponse">
        <part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns32:CREATEPRODUCT_IOPK_RES"/>
    </message>
    <message name="DeleteContractFS">
        <part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns33:DELETECONTRACT_FSFS_REQ"/>
    </message>
    <message name="DeleteContractFSResponse">
        <part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns34:DELETECONTRACT_FSFS_RES"/>
    </message>
    <message name="DeleteContractIO">
        <part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns35:DELETECONTRACT_IOPK_REQ"/>
    </message>
    <message name="DeleteContractIOResponse">
        <part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns36:DELETECONTRACT_IOPK_RES"/>
    </message>
    <message name="DeleteMT101FS">
        <part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns37:DELETEMT101_FSFS_REQ"/>
    </message>
    <message name="DeleteMT101FSResponse">
        <part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns38:DELETEMT101_FSFS_RES"/>
    </message>
    <message name="DeleteMT101IO">
        <part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns39:DELETEMT101_IOPK_REQ"/>
    </message>
    <message name="DeleteMT101IOResponse">
        <part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns40:DELETEMT101_IOPK_RES"/>
    </message>
    <message name="DeleteProductFS">
        <part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns41:DELETEPRODUCT_FSFS_REQ"/>
    </message>
    <message name="DeleteProductFSResponse">
        <part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns42:DELETEPRODUCT_FSFS_RES"/>
    </message>
    <message name="DeleteProductIO">
        <part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns43:DELETEPRODUCT_IOPK_REQ"/>
    </message>
    <message name="DeleteProductIOResponse">
        <part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns44:DELETEPRODUCT_IOPK_RES"/>
    </message>
    <message name="LiquidateContractFS">
        <part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns45:LIQUIDATECONTRACT_FSFS_REQ"/>
    </message>
    <message name="LiquidateContractFSResponse">
        <part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns46:LIQUIDATECONTRACT_FSFS_RES"/>
    </message>
    <message name="LiquidateContractIO">
        <part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns47:LIQUIDATECONTRACT_IOPK_REQ"/>
    </message>
    <message name="LiquidateContractIOResponse">
        <part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns48:LIQUIDATECONTRACT_IOPK_RES"/>
    </message>
    <message name="ModifyContractFS">
        <part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns49:MODIFYCONTRACT_FSFS_REQ"/>
    </message>
    <message name="ModifyContractFSResponse">
        <part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns50:MODIFYCONTRACT_FSFS_RES"/>
    </message>
    <message name="ModifyContractIO">
        <part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns51:MODIFYCONTRACT_IOPK_REQ"/>
    </message>
    <message name="ModifyContractIOResponse">
        <part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns52:MODIFYCONTRACT_IOPK_RES"/>
    </message>
    <message name="ModifyMT101FS">
        <part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns53:MODIFYMT101_FSFS_REQ"/>
    </message>
    <message name="ModifyMT101FSResponse">
        <part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns54:MODIFYMT101_FSFS_RES"/>
    </message>
    <message name="ModifyMT101IO">
        <part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns55:MODIFYMT101_IOPK_REQ"/>
    </message>
    <message name="ModifyMT101IOResponse">
        <part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns56:MODIFYMT101_IOPK_RES"/>
    </message>
    <message name="ModifyProductFS">
        <part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns57:MODIFYPRODUCT_FSFS_REQ"/>
    </message>
    <message name="ModifyProductFSResponse">
        <part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns58:MODIFYPRODUCT_FSFS_RES"/>
    </message>
    <message name="ModifyProductIO">
        <part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns59:MODIFYPRODUCT_IOPK_REQ"/>
    </message>
    <message name="ModifyProductIOResponse">
        <part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns60:MODIFYPRODUCT_IOPK_RES"/>
    </message>
    <message name="QueryContractIO">
        <part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns61:QUERYCONTRACT_IOFS_REQ"/>
    </message>
    <message name="QueryContractIOResponse">
        <part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns62:QUERYCONTRACT_IOFS_RES"/>
    </message>
    <message name="QueryMT101IO">
        <part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns63:QUERYMT101_IOFS_REQ"/>
    </message>
    <message name="QueryMT101IOResponse">
        <part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns64:QUERYMT101_IOFS_RES"/>
    </message>
    <message name="QueryProductIO">
        <part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns65:QUERYPRODUCT_IOFS_REQ"/>
    </message>
    <message name="QueryProductIOResponse">
        <part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns66:QUERYPRODUCT_IOFS_RES"/>
    </message>
    <message name="ReopenProductFS">
        <part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns67:REOPENPRODUCT_FSFS_REQ"/>
    </message>
    <message name="ReopenProductFSResponse">
        <part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns68:REOPENPRODUCT_FSFS_RES"/>
    </message>
    <message name="ReopenProductIO">
        <part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns69:REOPENPRODUCT_IOPK_REQ"/>
    </message>
    <message name="ReopenProductIOResponse">
        <part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns70:REOPENPRODUCT_IOPK_RES"/>
    </message>
    <message name="ReverseContractFS">
        <part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns71:REVERSECONTRACT_FSFS_REQ"/>
    </message>
    <message name="ReverseContractFSResponse">
        <part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns72:REVERSECONTRACT_FSFS_RES"/>
    </message>
    <message name="ReverseContractIO">
        <part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns73:REVERSECONTRACT_IOPK_REQ"/>
    </message>
    <message name="ReverseContractIOResponse">
        <part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns74:REVERSECONTRACT_IOPK_RES"/>
    </message>
    <message name="SummaryQueryProductIO">
        <part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSFTService" name="RequestMsg" element="ns75:SUMMARYQUERYPRODUCT_IOFS_REQ"/>
    </message>
    <message name="SummaryQueryProductIOResponse">
        <part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSFTService" name="ResponseMsg" element="ns76:SUMMARYQUERYPRODUCT_IOFS_RES"/>
    </message>
    <portType name="FCUBSFTServiceSEI">
        <operation name="AuthorizeContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeContractFSRequest" message="tns:AuthorizeContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeContractFSResponse" message="tns:AuthorizeContractFSResponse"/>
        </operation>
        <operation name="AuthorizeContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeContractIORequest" message="tns:AuthorizeContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeContractIOResponse" message="tns:AuthorizeContractIOResponse"/>
        </operation>
        <operation name="AuthorizeMT101FS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeMT101FSRequest" message="tns:AuthorizeMT101FS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeMT101FSResponse" message="tns:AuthorizeMT101FSResponse"/>
        </operation>
        <operation name="AuthorizeMT101IO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeMT101IORequest" message="tns:AuthorizeMT101IO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeMT101IOResponse" message="tns:AuthorizeMT101IOResponse"/>
        </operation>
        <operation name="AuthorizeProductFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeProductFSRequest" message="tns:AuthorizeProductFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeProductFSResponse" message="tns:AuthorizeProductFSResponse"/>
        </operation>
        <operation name="AuthorizeProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeProductIORequest" message="tns:AuthorizeProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/AuthorizeProductIOResponse" message="tns:AuthorizeProductIOResponse"/>
        </operation>
        <operation name="CloseContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseContractFSRequest" message="tns:CloseContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseContractFSResponse" message="tns:CloseContractFSResponse"/>
        </operation>
        <operation name="CloseContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseContractIORequest" message="tns:CloseContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseContractIOResponse" message="tns:CloseContractIOResponse"/>
        </operation>
        <operation name="CloseProductFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseProductFSRequest" message="tns:CloseProductFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseProductFSResponse" message="tns:CloseProductFSResponse"/>
        </operation>
        <operation name="CloseProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseProductIORequest" message="tns:CloseProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CloseProductIOResponse" message="tns:CloseProductIOResponse"/>
        </operation>
        <operation name="CreateContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateContractFSRequest" message="tns:CreateContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateContractFSResponse" message="tns:CreateContractFSResponse"/>
        </operation>
        <operation name="CreateContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateContractIORequest" message="tns:CreateContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateContractIOResponse" message="tns:CreateContractIOResponse"/>
        </operation>
        <operation name="CreateMT101FS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateMT101FSRequest" message="tns:CreateMT101FS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateMT101FSResponse" message="tns:CreateMT101FSResponse"/>
        </operation>
        <operation name="CreateMT101IO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateMT101IORequest" message="tns:CreateMT101IO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateMT101IOResponse" message="tns:CreateMT101IOResponse"/>
        </operation>
        <operation name="CreateProductFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateProductFSRequest" message="tns:CreateProductFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateProductFSResponse" message="tns:CreateProductFSResponse"/>
        </operation>
        <operation name="CreateProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateProductIORequest" message="tns:CreateProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/CreateProductIOResponse" message="tns:CreateProductIOResponse"/>
        </operation>
        <operation name="DeleteContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteContractFSRequest" message="tns:DeleteContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteContractFSResponse" message="tns:DeleteContractFSResponse"/>
        </operation>
        <operation name="DeleteContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteContractIORequest" message="tns:DeleteContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteContractIOResponse" message="tns:DeleteContractIOResponse"/>
        </operation>
        <operation name="DeleteMT101FS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteMT101FSRequest" message="tns:DeleteMT101FS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteMT101FSResponse" message="tns:DeleteMT101FSResponse"/>
        </operation>
        <operation name="DeleteMT101IO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteMT101IORequest" message="tns:DeleteMT101IO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteMT101IOResponse" message="tns:DeleteMT101IOResponse"/>
        </operation>
        <operation name="DeleteProductFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteProductFSRequest" message="tns:DeleteProductFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteProductFSResponse" message="tns:DeleteProductFSResponse"/>
        </operation>
        <operation name="DeleteProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteProductIORequest" message="tns:DeleteProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/DeleteProductIOResponse" message="tns:DeleteProductIOResponse"/>
        </operation>
        <operation name="LiquidateContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/LiquidateContractFSRequest" message="tns:LiquidateContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/LiquidateContractFSResponse" message="tns:LiquidateContractFSResponse"/>
        </operation>
        <operation name="LiquidateContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/LiquidateContractIORequest" message="tns:LiquidateContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/LiquidateContractIOResponse" message="tns:LiquidateContractIOResponse"/>
        </operation>
        <operation name="ModifyContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyContractFSRequest" message="tns:ModifyContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyContractFSResponse" message="tns:ModifyContractFSResponse"/>
        </operation>
        <operation name="ModifyContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyContractIORequest" message="tns:ModifyContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyContractIOResponse" message="tns:ModifyContractIOResponse"/>
        </operation>
        <operation name="ModifyMT101FS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyMT101FSRequest" message="tns:ModifyMT101FS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyMT101FSResponse" message="tns:ModifyMT101FSResponse"/>
        </operation>
        <operation name="ModifyMT101IO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyMT101IORequest" message="tns:ModifyMT101IO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyMT101IOResponse" message="tns:ModifyMT101IOResponse"/>
        </operation>
        <operation name="ModifyProductFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyProductFSRequest" message="tns:ModifyProductFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyProductFSResponse" message="tns:ModifyProductFSResponse"/>
        </operation>
        <operation name="ModifyProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyProductIORequest" message="tns:ModifyProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ModifyProductIOResponse" message="tns:ModifyProductIOResponse"/>
        </operation>
        <operation name="QueryContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/QueryContractIORequest" message="tns:QueryContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/QueryContractIOResponse" message="tns:QueryContractIOResponse"/>
        </operation>
        <operation name="QueryMT101IO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/QueryMT101IORequest" message="tns:QueryMT101IO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/QueryMT101IOResponse" message="tns:QueryMT101IOResponse"/>
        </operation>
        <operation name="QueryProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/QueryProductIORequest" message="tns:QueryProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/QueryProductIOResponse" message="tns:QueryProductIOResponse"/>
        </operation>
        <operation name="ReopenProductFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReopenProductFSRequest" message="tns:ReopenProductFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReopenProductFSResponse" message="tns:ReopenProductFSResponse"/>
        </operation>
        <operation name="ReopenProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReopenProductIORequest" message="tns:ReopenProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReopenProductIOResponse" message="tns:ReopenProductIOResponse"/>
        </operation>
        <operation name="ReverseContractFS">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReverseContractFSRequest" message="tns:ReverseContractFS"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReverseContractFSResponse" message="tns:ReverseContractFSResponse"/>
        </operation>
        <operation name="ReverseContractIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReverseContractIORequest" message="tns:ReverseContractIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/ReverseContractIOResponse" message="tns:ReverseContractIOResponse"/>
        </operation>
        <operation name="SummaryQueryProductIO">
            <input wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/SummaryQueryProductIORequest" message="tns:SummaryQueryProductIO"/>
            <output wsam:Action="http://FCUBSFTService.types.ws.gw.fcubs.ofss.com/FCUBSFTServiceSEI/SummaryQueryProductIOResponse" message="tns:SummaryQueryProductIOResponse"/>
        </operation>
    </portType>
    <binding name="FCUBSFTServiceSEIBinding" type="tns:FCUBSFTServiceSEI">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="AuthorizeContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AuthorizeContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AuthorizeMT101FS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AuthorizeMT101IO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AuthorizeProductFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="AuthorizeProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CloseContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CloseContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CloseProductFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CloseProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateMT101FS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateMT101IO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateProductFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteMT101FS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteMT101IO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteProductFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="DeleteProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="LiquidateContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="LiquidateContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyMT101FS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyMT101IO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyProductFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ModifyProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryMT101IO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="QueryProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReopenProductFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReopenProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReverseContractFS">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="ReverseContractIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SummaryQueryProductIO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="FCUBSFTService">
        <port name="FCUBSFTServiceSEI" binding="tns:FCUBSFTServiceSEIBinding">
            <soap:address location="http://10.0.32.154:9991/FCUBSFTService/FCUBSFTService"/>
        </port>
    </service>
</definitions>